@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none ;
}
body{
    margin: 0px;
    width:100%;
    min-height: 100%;
    background-color:var(--primary-color);
    color:var(--secondary-color);
}

html{
    scroll-behavior: smooth;
}
.scroll-up-btn{
    position: fixed;
    height:45px;
    width:42px;
    background:#08435f;
    right:30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color:var(--primary-color);
    z-index: 9999;
    font-size:30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
/* Dark Mode style*/
#icon {
    width: 35px;
    cursor: pointer;
    padding-left:15px;
}
#icon:hover {
    transition: 0.65s;
    transform: scale(1.3);
}
#icon-sun{
    width: 30px;
    cursor: pointer;
    padding-right: 15px;
}
#icon-sun:hover{
    transform: scale(1.3);
}

 :root{

     --primary-color: #fff;
     --secondary-color: #08435f;
     --navbar-color: #ddeeee;
     --footer-color: #000000;
 }
 .dark-theme{

     --primary-color: #000106;
     --secondary-color: #08435f; 
     --navbar-color: #17171a;
     --footer-color: rgb(189, 194, 221);
 }
 /* Dark Mode Ends*/
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(75%);
}
/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color:var(--footer-color);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--secondary-color);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/*navbar styling*/
.navbar ul{
    flex: 1;
    text-align: right;
}
.navbar{
    
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background-color:var(--navbar-color) ;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    /* color: #fff; */
    font-size: 35px;
    font-weight: 600;
    background: -webkit-linear-gradient(#03283dd3,#08435f,#64ffda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar .logo a span{
    color: #03283dd3;
    font-weight: bolder;
    transition: all 0.3s ease;
} 
.navbar.sticky.logo a span:hover{
    color:#fff; 
} 
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color:inherit;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.navbar.sticky .menu li a:hover{
    color:var(--footer-color);
}
.navbar.sticky #icon:hover{
    color:var(--footer-color);
}
/* menu button styling */
.menu-btn{
   
    font-size: 27px;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    height: 100vh;
    
    background-size: cover;
    background-attachment: fixed;
    
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.home  .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.home .email a{
    margin: 40px auto;
    padding: 10px;
    writing-mode: vertical-rl; 
    color: #e6f1ff;
}
.home .side-element{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}
.home .side-element .social-media{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.social-media li a {
    padding:10px;
}
.home .social-media a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
}
.home .social-media li{
    margin-bottom: 20px;
}
.home .dj{
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index:10;
    left: auto;
    right: 40px;
}
h2.title{
    color: var(--secondary-color);
    /* background: -webkit-linear-gradient(#03283dd3,#64ffda);
    -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    color:var(--secondary-color)
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    background: -webkit-linear-gradient(#03283dd3,#08435f,#64ffda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #03283dd3;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: transparent;
    color:var(--secondary-color);
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #03283dd3;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    transition: 1s;
    background: -webkit-linear-gradient(#03283dd3,#64ffda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}
/* about section styling */
section{
    padding:100px 0;
}
.about{
    font-family: 'Poppins',sans-serif;
}
.about .title{
    position: relative;
    font-family: 'Ubuntu',sans-serif;
    font-size:40px;
    font-weight:500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    color:#021e2b;
}

.about .title::before{
    content: "";
    position:absolute;
    width: 180px;
    height: 3px;    
    bottom:0px;
    left:50%;
    background-color:var(--footer-color);
    transform: translateX(-50%);
}
.about .title::after{
    content: "Who I am";
    position:absolute;
    font-size: 20px;
    color: var(--footer-color);
    padding:5px;
    bottom:-12px;
    left:50%; 
    background-color: var(--primary-color);
}
.about .about-content .left img{
    height: 100%;
    width: 85%;
    object-fit: cover;
}
.about .about-content img:hover{
    transition: 1s;
    transform: scale(1.1);
}
.about .about-content{
    color: var(--footer-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #9affe7d3;
}
.about .about-content .right .p{
    text-align: justify;
    color: var(--footer-color);
}
.about .about-content .right a{
    display: inline-block;
    background: transparent;
    color:var(--secondary-color);
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #03283dd3;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    transition: 1s;
    background: -webkit-linear-gradient(#03283dd3,#64ffda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}
/* skills section styling */

.skills.skills-content.right.info span{
    color: var(--secondary-color);
}
.skills .title::after{
    content: "What I know";
    background:var(--primary-color);
    color: var(--footer-color);
}
.skills .skills-content .column{
    width:calc(50% - 30px);

}
.skills .skills-content .left p{
    text-align: -webkit-auto;
    color: var(--footer-color);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight:600;
    margin-bottom: 10px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;

}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom:5px;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background:lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content:"";
    position: absolute;
    height:100%;
    left:0;
    top:0;
    background-image: linear-gradient(to right,#03283dd3,#08435f,#64ffda);
} 
.skills .skills-content .right .excel::before{
    width:90%;
}
.skills .skills-content .right .sap::before{
    width:80%;
}
.skills .skills-content .right .html::before{
    width:70%;
}
.skills .skills-content .right .java::before{
    width:65%;
}
.skills .skills-content .right .python::before{
    width:55%;
}
.skills .skills-content .right .css::before{
    width:50%;
}
.skills .skills-content .right .mysql::before{
    width:50%;
}
.skills .skills-content .right .powerbi::before{
    width:50%;
}
/* work styling */
#work h1{
    color: var(--secondary-color);
    font-size: 30px;
    padding-bottom: 3px
}
#work .max-width .title{
    color: var(--secondary-color);
    padding-bottom: 5px;
    font-size: 40px;
}
#work h2{
    color: var(--secondary-color);
    padding-bottom: 5px;
    font-size: 22px;
}
#work h3 {
    color:var(--secondary-color);
    padding-bottom: 7px;
    color: var(--footer-color);
    font-size: 15px;
}
.work .work-content p{
    color: var(--secondary-color);
}
.work-content {
    display: flex;
    justify-content: space-between;
}
.work .title{
    color: var(--secondary-color);
}
.work1{
    padding: 14px;
    margin-bottom: 20px;
}
.work1 h1{
    font-size: 25px;
    color: #9affe7d3;
}
.work1 h2{
    color:#fff;
    font-size: 25px;
    margin-bottom: 1px;
}
.work1 h3{
    color: #fff;
    margin-bottom: 2px;
}
.work1 p{
    padding: 2px;
}
.work2{
    padding: 14px;
    margin-bottom: 20px;
}
.work2 h1{
    font-size: 25px;
    color: #9affe7d3;
}
.work2 h2{
    color:#fff;
    font-size: 25px;
    margin-bottom: 1px;
}
.work2 h3{
    color: #fff;
    margin-bottom: 2px;
}
.work2 p{
    padding: 2px;
}
.work3{
    padding: 14px;
    margin-bottom: 20px;
}
.work3 h1{
    font-size: 25px;
    color: #9affe7d3;
}
.work3 h2{
    color:#fff;
    font-size: 25px;
    margin-bottom: 1px;
}
.work3 h3{
    color: #fff;
    margin-bottom: 2px;
}
.work3 p{
    padding: 2px;
}
/* contact section styling */
.contact .title{
    color:#021e2b;
}
.contact .title::after{
    content:"Get in touch";
    background:var(--primary-color);
    color: var(--footer-color);
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left p{
    text-align: justify;
    color: var(--footer-color);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--secondary-color);
}
.contact .contact-content .left .icons{
    margin: 10px o;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: var(--secondary-color);
}
.contact .contact-content .row i:hover{
    font-size: 25px;
    color: var(--footer-color);
    transition: 0.65s;
    transform: scale(1.2);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color:var(--footer-color);
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #08435f;
    background: #08435f;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
} 
.email-link:hover{
    color: #9affe7d3;
    background:rgb(20, 87, 92);
}
.Whatsapp-link{ 
    width: 100%;
    height: 100%;
    border: 1px solid #03283dd3;
    background: -webkit-linear-gradient(#03283dd3,#08435f,#64ffda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--secondary-color);
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding:0.25rem 1.75rem;
    line-height: 3;
}
/* footer section begins */
footer{
    background:#021e2b ;
    padding: 20px 20px; 
    color:#fff;
    text-align: center;
}
footer span a {
    color:var(--secondary-color);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* work style */
.work-button{
    background-color: inherit;
    color:#fff;
    text-decoration: none;
    border: 0px;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    text-align: left;
   
}
.worklist p{
   padding:5px;
}
.column1{
    column-count: 1;
}
/* responsive media query */
@media(max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    #icon{
        width: 35px;
        margin-right: 0;
        margin-left: auto;
        display:block;
    }
@media(max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        padding-right: 20px;
        padding-left: 20px;
        background: -webkit-linear-gradient(#03283dd3,#64ffda);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
           content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color:var(--primary-color);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left:0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu:hover{
        
        transform: scale(1.2);
    }
    .navbar .menu li a{
        
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
  
}
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 200%;
        width: 200%;   
    }
}

@media screen and (max-width: 695px) {
    .work-content{
        flex-direction: column;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .contact .contact-content .info .sub-title1{
    color: var(--secondary-color);
}
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
        
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }   
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 35px;
        width: 35px;
        font-size: 20px;
        line-height: 30px;
        
    }
}
}